.color_blue {
    background-color: rgb(92, 92, 253);
}

.color_orange {
    background-color: rgb(255, 199, 96);
}

.color_yellow {
    background-color: rgb(241, 241, 99);
}

.color_red {
    background-color: rgb(253, 134, 134);
}